* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.crontab-popup-main {
	position: relative;
	font-size: 12px;
}
.crontab-popup-title {
	overflow: hidden;
	line-height: 34px;
	padding-top:6px;
	background: #f2f2f2;
}
.crontab-popup-title li {
	float: left;
	width: 60px;
	margin: 0 3px;
	display: inline;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.crontab-popup-title li:first-child {
	width: 90px;
}
.crontab-popup-title li:not(:first-child):hover {
	background: #e8e8e8;
	cursor: pointer;
}
.crontab-popup-title .on, .crontab-popup-title li.on:hover {
	background: #fff;
}
.crontab-popup-body {
	padding: 10px 20px 10px;
	line-height: 24px;
  text-align: left;
}
.crontab-popup-body li {
	display: none;
}
.crontab-popup-body .on {
	display: block;
}
.crontab-popup-body input[type='radio'] {
	position: relative;
	top:2px;
	margin-right: 6px;
}
.crontab-popup-body input[type='number']{
	margin: 0 3px;
	padding: 0 5px;
	width: 60px;
	color: #555;
}
.crontab-popup-body input[type='checkbox']{
	position: relative;
	top: 2px;
	margin: 0 4px;
}
.crontab-input-warp {
	margin-top: 6px;
}
.crontab-check-warp {
	padding-left:13px;
	overflow: hidden;
}
.crontab-check-warp label {
	float: left;
	width: 52px;
}
.crontab-check-short label {
	width: 40px;
}
.crontab-popup-result {
	line-height: 24px;
	margin:25px 20px 0;
	padding:15px 10px 10px;
	border: 1px solid #ccc;
	position: relative;
}
.crontab-popup-result .title{
	position: absolute;
	top: -15px;
	left: 50%;
	width: 140px;
	font-size: 14px;
	margin-left: -70px;
	text-align: center;
	line-height: 30px;
	background: #fff;
}
.crontab-popup-result table {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.crontab-popup-result table span {
	display:block;
	width: 100%;
	font-family: arial;
	line-height: 30px;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #e8e8e8;
}
.crontab-popup-result-scroll {
	font-size: 12px;
	line-height: 24px;
	height:10em;
	overflow-y: auto;
}
