.popup-warp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
}
.popup-main {
	position: relative;
	width: 600px;
	height: 700px;
	top: 50%;
	margin: -350px auto 0;
	background: #fff;
	border-radius:5px;
	font-size: 12px;
	overflow: hidden;
}
.popup-title {
	overflow: hidden;
	line-height: 34px;
	padding-top:6px;
	background: #f2f2f2;
}
.popup-title li {
	float: left;
	width: 60px;
	margin: 0 3px;
	display: inline;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.popup-title li:first-child {
	width: 90px;
}
.popup-title li:not(:first-child):hover {
	background: #e8e8e8;
	cursor: pointer;
}
.popup-title .on, .popup-title li.on:hover {
	background: #fff;
}
.popup-body {
	padding: 10px 20px 0;
	line-height: 24px;
	height: 280px;
}
.popup-body li {
	display: none;
}
.popup-body .on {
	display: block;
}
.popup-body input[type='radio'] {
	position: relative;
	top:2px;
	margin-right: 6px;
}
.popup-body input[type='number']{
	margin: 0 3px;
	padding: 0 5px;
	width: 60px;
	color: #555;
}
.popup-body input[type='checkbox']{
	position: relative;
	top: 2px;
	margin: 0 4px;
}
.popup-input-warp {
	margin-top: 6px;
}
.popup-check-warp {
	width: 520px;
	padding-left:13px;
	overflow: hidden;
}
.popup-check-warp label {
	float: left;
	width: 52px;
}
.popup-check-short label {
	width: 40px;
}
.popup-result {
	line-height: 24px;
	margin:25px 20px 0;
	padding:15px 10px 10px;
	border: 1px solid #ccc;
	position: relative;
}
.popup-result .title{
	position: absolute;
	top: -28px;
	left: 50%;
	width: 140px;
	font-size: 14px;
	margin-left: -70px;
	text-align: center;
	line-height: 30px;
	background: #fff;
}
.popup-result table {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.popup-result table span {
	display:block;
	width: 100%;
	font-family: arial;
	line-height: 30px;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #e8e8e8;
}
.popup-result-scroll {
	font-size: 12px;
	line-height: 24px;
	height:10em;
	overflow-y: scroll;
}
.popup-btns {
	padding-top: 20px;
	text-align: center;
}
.popup-btns button {
	height: 30px;
	width: 150px;
}